* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}


h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    color: black;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #999;
    align-content: flex-start
}

h2 {
    font-size: 20px;
    margin: 0 0 50px 0;
    position: relative;
}

h2 span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-style: italic;
    font-family: Georgia, Serif;
    font-size: 16px;
    color: #999;
    font-weight: normal;
}

h4 {
    color: rgba(62, 100, 136, 0.61);
}

p {
    margin: 0 0 16px 20px;
}

a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

a:hover {
    border-bottom-style: solid;
    color: black;
}

ul {
    margin: 0 0 32px 17px;
}

#objective {
    width: 500px;
    float: left;
}

#objective p {
    font-family: Georgia, Serif;
    font-style: italic;
    color: #666;
}

dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 26px 0 0;
    width: 150px;
    float: left;
    height: 100px;
    border-right: 1px solid #999;
}

dd {
    width: 600px;
    float: left;
}

dd.clear {
    float: none;
    margin: 0;
    height: 15px;
}
